# https://github.com/vercel/next.js/tree/canary/examples/cms-sanity#using-the-sanity-cli

NEXT_PUBLIC_SANITY_PROJECT_ID=
NEXT_PUBLIC_SANITY_DATASET=
SANITY_API_READ_TOKEN=
NEXT_PUBLIC_SANITY_API_TOKEN=

# For NextAuth
NEXTAUTH_SECRET=
NEXTAUTH_URL=http://localhost:3000
NEXT_PUBLIC_JWT_TOKEN_MAX_AGE=3600

# Redis
NEXT_PUBLIC_REDIS_PORT=6379

# Should be the same as in NEXTAUTH_URL
NEXT_PUBLIC_PORT=3000

# Constant
NEXT_PUBLIC_ADMIN_PORT=4000